/******************Toute la page******************/
*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: #081324;
}
article{
    padding: 0px 245px;
}
span{
    font-size: 32px;
    color: #5dedcd;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
h1{
    font-size: 32px;
    color: #ccd6f6;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
}
p{
    font-size: 20px;
    color: #a19a8f;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
}
strong{
    color: #5dedcd;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    font-weight: normal;
}

/*Responsive Tablette*/
@media (max-width: 768px){
    article{
        padding: 0px 80px;
    }
}

/*Responsive Phone*/
@media (max-width: 426px){
    article{
        padding: 0px 25px;
    }
}



/******************navbar******************/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px 0px 40px; /*rendre responsive*/
}
.logo{
    margin-top: -15px;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    margin-right: 30px; /*rendre responsive*/
}
nav span{
    color: #5dedcd;
    font-size: 15px; /*rendre responsive*/
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
nav a{
    color: #ccd6f6;
    text-decoration: none;
    font-size: 15px; /*rendre responsive*/
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    padding-right: 10px; /*rendre responsive*/
}
nav a:hover{
    color: #5dedcd;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
.contact_bouton{
    color: #5dedcd;
    border: 1px solid #5dedcd;
    border-radius: 5px;
    padding: 10px 15px;
}
.contact_bouton:hover{
    background-color: #071f2c;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

/*Responsive Tablette*/
@media (max-width: 768px){
    .navbar{
        display: none;
    }
}

/*Responsive Phone*/
@media (max-width: 426px){
    nav{
        padding: 40px 25px 0px 8px;
    }
}



/******************Home******************/
#intro h1{
    padding-top: 80px;
    color: #5dedcd;
    font-size: 16px; 
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
#intro h2{
    margin: 0px;
    color: #ccd6f6;
    font-size: 80px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
}
#intro h3{
    margin: 0px;
    color: #a19a8f;      
    font-size: 70px;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
    line-height: 1;
}
#intro p{
    padding-top: 25px;
    padding-bottom: 170px;
}
.contact_bouton_phone{
    opacity: 0;
}

/*Responsive small computer*/
@media (max-width: 1025px){
    #intro{
        padding-bottom: 100px;
    }
    #intro h2{
        font-size: 50px;
    }
    #intro h3{
        font-size: 50px;
    }
}

/*Responsive Tablette*/
@media (max-width: 768px){
    #intro{
        padding-bottom: 170px;
    }
    #intro h2{
        padding-top: 20px;
        font-size: 55px;
    }
    #intro h3{
        font-size: 50px;
    }
    #intro p{
        padding-top: 25px;
        padding-bottom: 50px;
    }
    .contact_bouton_phone{
        opacity: 1;
        color: #5dedcd;
        border: 1px solid #5dedcd;
        border-radius: 5px;
        padding: 10px 15px;
        text-decoration: none;
        font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
        font-size: 20px;
    }
    .contact_bouton_phone:hover{
        background-color: #071f2c;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
}

/*Responsive Phone*/
@media (max-width: 426px){
    #intro{
        padding-bottom: 190px;
    }
    #intro h2{
        font-size: 40px;
    }
    #intro h3{
        font-size: 40px;
    }
}

/*Responsive small Phone*/
@media (max-width: 325px){
    #intro{
        padding-bottom: 110px;
    }
    #intro h1{
        padding-top: 40px;
    }
    #intro p{
        padding-top: 20px;
        padding-bottom: 30px;
    }
}



/******************About******************/
#about{
    margin: 0px 50px;
}
.container{
    display: flex;
    flex-direction: row;
}
.text_about{
    text-align: justify;
    padding-top: 35px;
    padding-right: 120px;
}
.photo_profil{
    width: 270px;
    filter: invert(100%);
    border-radius: 15px;
    margin-top: 50px;
}
.photo_profil:hover{
    filter: none;
    transform: translate(15px, 15px);
    transition: all 0.5s ease-in-out;
}
.green_square{
    position: relative;
    border: 2px solid #5dedcd;
    border-radius: 15px;
    top: -225px;
    left: 30px;
    width: 100%;
    height: 250px;
    z-index: -1;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}
.puce::before{
    content: "▹";
    color: #5dedcd;
    font-size: 25px;
}

/*Responsive small computer*/
@media (max-width: 1025px){
    #about{
        margin: 0px 0px;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .text_about{
        padding-right: 0px;
    }
}

/*Responsive Tablette*/
@media (max-width: 768px){
    #about{
        margin: 0px 0px;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .text_about{
        padding-right: 0px;
    }
    .photo_profil{
        margin-top: 70px;
    }
}

/*Responsive Phone*/
@media (max-width: 426px){
    .skills{
        flex-direction: column;
        align-items: center;
    }
}

/*Responsive small Phone*/
@media (max-width: 325px){
    .photo_profil{
        width: 220px;
        filter: none;
    }
    .green_square{
        top: -205px;
        height: 230px;
    }
}



/******************My Services******************/
#services{
    margin: 0px 50px;
}
.webdesign{
    padding-top: 35px;
    display: flex;
    flex-direction: row;
}  
.service1, .service3{
    width: 100vw;
    padding: 15px 20px 0px 20px;
    margin: 15px;
    border: solid 2px #ccd6f6;
    border-radius: 15px;
    text-align: center;
}  
.service2{
    width: 135vw;
    padding: 25px;
    margin: 15px;
    border: solid 2px #ccd6f6;
    border-radius: 15px;
    text-align: center;
}
#services h2{
    font-size: 28px;
    color: #ccd6f6;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
}
.icone_balise_code{
    font-size: 45px;
}
.icon1{
    width: 65px;
    height: 65px;
}
.icon2{
    width: 45px;
    height: 45px;
}
.service2 h2, .service3 h2{
    padding-bottom: 15px;
}

/*Responsive small computer*/
@media (max-width: 1025px){
    #services{
        margin: 0px 0px;
    }
    .webdesign{
        flex-wrap: wrap;
    }
    .service1, .service2, .service3{
        padding: 25px;
    }
    .service1 h2, .service2 h2, .service3 h2{
        padding: 25px 0px;
    }
}

/*Responsive Tablette*/
@media (max-width: 768px){
    #services{
        margin: 0px 0px;
    }
    .webdesign{
        flex-direction: column;
        align-items: center;
    }
    .service1, .service2, .service3{
        width: 300px;
        padding: 25px;
    }
    .service1 h2, .service2 h2, .service3 h2{
        padding: 25px 0px;
    }
}

/*Responsive small Phone*/
@media (max-width: 325px){
    .service1, .service2, .service3{
        width: 240px;
    }
}



/******************My Work******************/
#work{
    margin: 200px 50px;
}
.myproject{
    margin: 80px 0px;
}
.myproject h2{
    margin-bottom: 0px;
    color: #5dedcd;
    font-size: 16px;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}
.myproject h3{
    margin: 0px 0px 5px 0px;
    font-size: 28px;
    color: #ccd6f6;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
}
.myproject p{
    color: #99acc3;
}
.myproject span{
    font-weight: normal;
    color: #99acc3;
    font-size: 20px;
}
.projet1{
    display: flex;
    flex-direction: row;    
}
.ecompro{
    width: 650px;
    border-radius: 15px;
}
.align_right{
    text-align: end;
}
.encadre_bleu{
    padding: 3px 20px 3px 0px;
    text-align: end;
    margin: 15px 0px 15px -70px;
    border-radius: 10px;
    background-color: #112240;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}
.space_between span{
    padding-left: 20px;
}
.icon_social_media svg{
    padding-left: 15px;
    color: #ccd6f6;
    width: 35px;
    height: 35px;
}

/*Responsive small computer*/
@media (max-width: 1025px){
    #work{
        margin: 200px 0px;
    }
    .myproject{
        margin: 35px 0px;
    }
    .projet1{
        flex-direction: column;
        align-items: center;  
    }
    .ecompro{
        width: 500px;
    }
    .align_right{
        text-align: center;
    }
    .align_right h2{
        opacity: 0;
    }
    .encadre_bleu{
        width: 350px;
        text-align: center;
        margin: 20px 0px;
    }
}

/*Responsive Tablette*/
@media (max-width: 768px){
    #work{
        margin: 200px 0px;
    }
    .myproject{
        margin: 35px 0px;
    }
    .projet1{
        flex-direction: column;
        align-items: center;  
    }
    .ecompro{
        width: 500px;
    }
    .align_right{
        text-align: center;
    }
    .align_right h2{
        opacity: 0;
    }
    .encadre_bleu{
        width: 350px;
        text-align: center;
        margin: 20px 0px;
    }
}

/*Responsive Phone*/
@media (max-width: 426px){
    .ecompro{
        width: 350px;
    }
}

/*Responsive small Phone*/
@media (max-width: 325px){
    .ecompro{
        width: 280px;
    }
    .encadre_bleu{
        width: 280px;
    }
}



/******************contact******************/
#contact{
    margin: 200px 50px;
}
form{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#name{
    width: 500px;
    height: 30px;
    border: 1px solid #ccd6f6;
    border-radius: 8px;
    background-color: #ccd6f6;
}
#email{
    width: 500px;
    height: 30px;
    border: 1px solid #ccd6f6;
    border-radius: 8px;
    background-color: #ccd6f6;
}
#message{
    width: 500px;
    height: 200px;
    border: 1px solid #ccd6f6;
    border-radius: 8px;
    background-color: #ccd6f6;
}
#submit{
    font-size: 20px;
    color: #5dedcd;
    border: 2px solid #5dedcd;
    border-radius: 12px;
    padding: 10px 15px;
    background-color: transparent;
}
#submit:hover{
    background-color: #071f2c;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}
::placeholder{
    font-size: 20px;
    color: #112240;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif;
    position: absolute;
    top: 0;
    left: 5px;
}

/*Responsive Phone*/
@media (max-width: 426px){
    #contact{
        margin: 200px 0px;
    }
    #name{
        width: 350px;
    }
    #email{
        width: 350px;
    }
    #message{
        width: 350px;
    }
}

/*Responsive small Phone*/
@media (max-width: 325px){
    #name{
        width: 280px;
    }
    #email{
        width: 280px;
    }
    #message{
        width: 280px;
    }
}



/******************mail******************/
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
}
.email a{
    writing-mode: vertical-rl;
    margin-right: 40px;
    padding: 20px;
    text-decoration: none;
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color: #ccd6f6;
    letter-spacing: 0.1em;
    font-size: 18px;
}
.email::after{
    margin-right: 40px;
    content: "";
    display: inline-block;
    width: 1px;
    height: 120px;
    background-color: #ccd6f6;
    vertical-align: middle;
}
.email_version_mobile{
    display: none;
}

/*Responsive Tablette*/
@media (max-width: 768px){
    .email{
        display: none;
    }
    .email_version_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }
    .email_version_mobile a{
        padding: 0px 20px;
        text-decoration: none;
        font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
        color: #ccd6f6;
        letter-spacing: 0.1em;
        font-size: 18px;
    }
    .email_version_mobile::after{
        content: "";
        width: 160px;
        height: 1px;
        background-color: #ccd6f6;
    }
    .email_version_mobile::before{
        content: "";
        width: 160px;
        height: 1px;
        background-color: #ccd6f6;
    }
}



/******************Réseaux sociaux******************/
#réseau_sociaux{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}
#réseau_sociaux a{
    writing-mode: vertical-rl;
    margin-left: 35px;
    padding: 10px;
}
#réseau_sociaux::after{
    margin-top: 15px;
    margin-left: 45px;
    content: "";
    display: inline-block;
    width: 1px;
    height: 300px;
    background-color: #ccd6f6;
    vertical-align: middle;
}

/*Responsive Tablette*/
@media (max-width: 768px){
    #réseau_sociaux{
        flex-direction: row;
        justify-content: center;
        position: static;
    }
    #réseau_sociaux a{
        margin: 0px 15px;
    }
    #réseau_sociaux::after{
        display: none;
    }
}


